.block {
  margin: 30px;
  height: 80%;
  box-shadow: inset 0 0 0 5px #898888;
  background-image: url(https://picsum.photos/200/300), linear-gradient(#4280a1, #4aa56b);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.block2 {
  margin: 30px;
  height: 80%;
  box-shadow: inset 0 0 0 5px #898888;
  background: url(https://picsum.photos/200/300) 50% 50% / auto no-repeat, linear-gradient(#bc3030, grey);
}